body {
	background-color: white;
}

/*************HOME-TERRAIN**************/

.criteria-container {
	height: 30%;
	width: 75%;
	position: relative;
	margin-left: 10%;
	x-overflow: hidden;
}


.adventure {
	text-align: center;
	position: absolute;
	background-color: #ED6A5A;
	width: 30%;
	font-size: 35px;
	margin: 25% 33%;
	z-index: 15;
	color: white;
}

h2 {
	position: absolute;
	z-index: 10;
	color: white;
	margin-top: 25%;
	font-size: 80px;
	text-shadow: 2px 2px 4px #000000;
}

#mtn-heading {
	margin-left: 1%;
}

#beach-heading {
	margin-top: -9%;
	margin-left: 49%;
} 

#desert-heading {
	margin-left: 1%;
}

#plain-heading {
	margin-left: 50%;
}

#terrain-section {
	max-height: 100vh;
}

#pick-adventure {
	text-align: center;
	margin-left: 25%;
	margin-top: -2.5%;
	border: 1px solid black;
	width: 60%;
	height: 10%;
	position: absolute;
}

.terrain {
	display: inline;
	width: 50%;
	height: 50%;
	vertical-align: text-bottom;
}

#beach {
	float: right;
	padding-left: 1%;
}

#plains {
	float: right;
	padding-left: 1%;
}

/*************CITY-COUNTRY**************/

.criteria-container-2 {
	margin-top: 7%;
	height: 40%;
	width: 75%;
	position: relative;
	margin-left: 10%;
	x-overflow: hidden;
}

.criteria-container-2 img {
	width: 50%;
	height: 400px;
	vertical-align: text-bottom;
}

#city-country-pick {
	margin: -45%  33%;
	width: 35%;
	height: 10%;
	color: white;
}

#camping {
	float: right;
	padding-left: 1%;
}

#city-heading {
	margin-top: 29%;
	margin-left: .5%;
}

#camping-heading {
	margin-top: -10%;
	margin-left: 50%;
}

/*************PLACES**************/
.places-container {
	background-image: url('https://openclipart.org/image/2400px/svg_to_png/167242/Road.png');
	height: 600px;
}

.banner-img {
	margin-left: 20%;
	width: 85%:
}

#pin {
	width: 80px;
}

.list-group {
	margin-left: 35%;
	/*background-color: #E8333C;*/
	width: 20%;
	height: 10%;
	color: black;
	text-align: center;
	display: inline-block;
}
