<div class="row" id="city-country-template">
	<div class="col-md-6 criteria-container-2">
        <a ng-href="places"><h2 id="city-heading">Urban</h2><img ng-click="Cities = true" class="city-country-img" id="city" src="/images/city-skyline.jpg"></a>
         <h1 class="adventure" id="city-country-pick">Pick your adventure</h1>
        <a ng-href="places"><h2 id="camping-heading">Camping</h2><img ng-click="Camping = true" class="city-country-img" id="camping" src="https://static.vecteezy.com/system/resources/previews/000/106/258/non_2x/free-camping-vector.png"></a>
    </div>
</div>
