<div class="row" id="terrain-page" ng-controller="terrainController as terrainCtrl">
      <div class="col-md-6 criteria-container">
        <img class="terrain" id="mtn" a ng-href="/city-country.html" src="https://static.vecteezy.com/system/resources/previews/000/116/226/non_2x/vector-mountaineer-landscape-silhouette.jpg">
        <img class="terrain" id="desert" a ng-href="/city-country.html" src="https://static.vecteezy.com/system/resources/previews/000/085/642/non_2x/vector-beautiful-landscape-illustration.jpg">
      </div>
    </div>
    <div class="row" id="pick-adventure">
        <div class="col-md-6 col-md-offset-3">
            <h1>Pick your adventure</h1>
        </div>
    </div>
    <div class="row">
      <div class="col-md-6 criteria-container">
        <img class="terrain" id="beach" a ng-href="/city-country.html" src="https://static.vecteezy.com/system/resources/previews/000/115/342/non_2x/flat-summer-landscape-with-deck-chairs-vector.jpg">
        <img class="terrain" id="plains" a ng-href="/city-country.html" src="https://static.vecteezy.com/system/resources/previews/000/116/708/non_2x/free-wheat-stalk-vector-landscape.jpg">
      </div>
    </div>