<div class="row" id="terrain-page">
      <div class="col-md-6 criteria-container">
        <a ng-href="city-country"><img class="terrain" id="mountain" src="https://static.vecteezy.com/system/resources/previews/000/116/226/non_2x/vector-mountaineer-landscape-silhouette.jpg"></a>
        <a ng-href="city-country"><img class="terrain" id="desert" a ng-href="/city-country.html" src="https://static.vecteezy.com/system/resources/previews/000/085/642/non_2x/vector-beautiful-landscape-illustration.jpg"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 criteria-container">
        <a ng-href="city-country"><img class="terrain" id="beach" a ng-href="/city-country.html" src="https://static.vecteezy.com/system/resources/previews/000/115/342/non_2x/flat-summer-landscape-with-deck-chairs-vector.jpg"></a>
        <a ng-href="city-country"><img class="terrain" id="plains" a ng-href="/city-country.html" src="https://static.vecteezy.com/system/resources/previews/000/116/708/non_2x/free-wheat-stalk-vector-landscape.jpg"></a>
      </div>
    </div>